aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asyncio
attrs
beautifulsoup4
black
certifi
click
colorama
flake8
frozenlist
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
hyperframe
idna
iniconfig
isort
Markdown
mccabe
multidict
mypy-extensions
numpy
packaging
pandas
pathspec
platformdirs
pluggy
portalocker
propcache
protobuf
pycodestyle
pydantic
pydantic_core
pyflakes
pytest
pytest-asyncio
python-dateutil
python-dotenv
pytz
qdrant-client
six
sniffio
soupsieve
tqdm
typing_extensions
tzdata
urllib3
yarl
